# Mac OS X
*.DS_Store
# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
*.xcworkspace/
!Dependencies/MovieDBUI/.swiftpm/xcode/package.xcworkspace/
!Dependencies/MovieDBUI/.swiftpm/xcode/package.xcworkspace/**
project.xcworkspace/
xcuserdata/
.build/
